
.btn {
  font-size: 6.5em;
  

}

h1 {
  text-align: center;
  font-size: 100px;
  color: Black;
  font-family: "Comic Sans MS", cursive, sans-serif ;


}

.span3 {
  background:#46E1F2;
  width:150px;
  height:150px;
  display:inline-block;
  margin-bottom:4px;
  text-align:center;
  box-shadow: 0 2px 5px black;
  border-radius:5px;
  overflow:hidden;
}

/*#1{
vertical-align:center;
text-align:center;
padding-top: 5cm;
}*/

.game-container{
  margin-top: 100px;
}
.sharp {
  border-radius:24;
}
.btn:hover {
  background: red;
}
body {
  background-image:url(http://images3.alphacoders.com/226/226079.jpg);
  -webkit-background-size: cover;
   min-width: 100%;
  min-height: 100%;
}
#new{
  font-size: 44px;
  border-radius: 20px;
}
#turns{
  font-size: 75px;
  color: blue;
}
